@import url("https://raw.githubusercontent.com/tiredmala/Roundmoled/main/BetterDiscord/roundmoled.theme.css");

/* remove bold urls on hover */
.markup-eYLPri a:hover{
  font-weight: normal;
}

.filenameLinkWrapper-3Rc6sk:hover{
    font-weight: normal;
}


/* Attachments in chat */

.attachment-1PZZB2, .theme-dark .wrapperAudio-1Bzv_Z{
    border-radius: 15px;
    background-color:var(--dark-bright);
    width:100%;
}

.attachment-1PZZB2:hover, .theme-dark .wrapperAudio-1Bzv_Z:hover{
    background-color:var(--dark-secondary);
    transition: 250ms;
}

.imageWrapper-oMkQl4:hover{
    transform: scale(1);
    box-shadow: var(--applethingsbshadow);
    z-index: 3;
}
