@import url("https://raw.githubusercontent.com/tiredmala/Roundmoled/main/BetterDiscord/roundmoled.theme.css");

/* remove bold urls on hover */
.markup-eYLPri a:hover{
  font-weight: normal;
}

.filenameLinkWrapper-3Rc6sk:hover{
    font-weight: normal;
}

/* remove image/video zoom on hover */

.imageWrapper-oMkQl4:hover{
    transform: scale(1);
    box-shadow: var(--applethingsbshadow);
    z-index: 3;
}
